{% extends 'base.html.twig' %}
{% block title %}Wild Series{% endblock %}
{% block body %}
    <h1>Categories</h1>
    {% for category in categories %}
        <div>
            <h2><a href="{{ path('category_show', {link: category.link})}}">{{ loop.index }} / {{ category.name }}</a></h2>
        </div>
    {% else %}
        Aucune catégorie trouvée.
    {% endfor %}
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}