{% extends 'base.html.twig' %}
{% block title %}Wild Series{% endblock %}
{% block body %}
<h1>Page not found</h1>
<a href="{{ goback }}"><img src="{{ asset('build/images/flash-left.png') }}" alt="flash-left"/></a>
{% endblock %}