{% extends 'base.html.twig' %}
{% block title %}Wild Series{% endblock %}
{% block body %}
<h1>Bienvenue {{website}} !</h1>
<!--<img src="{{ asset('build/images/flash-left.png') }}" alt="flash-left"/>-->
<a href="category/new">Creer nouvelle categorie</a><br/>
<a href="program/new">Ajouter nouvelle serie</a>
{% endblock %}